.filterBar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 2rem;
  padding: 4rem 4rem 2rem;
}

.filterBar > * {
  flex: 0 1 auto;
}

@media (max-width: 45em) {
  .filterBar {
    padding: 4rem 0rem 2rem;
    gap: 1rem;
  }
}
