.propertyItemListWrapper {
  position: relative;
}

.propertyItemList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 3rem;
  gap: 4rem;
}

.propertyItemList a > div {
  height: 100%;
}
