.checkBoxGroup {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  color: var(--color-light-text-and-details);
  gap: 1rem;
  cursor: pointer;
  padding: 1rem;
}

.checkBoxGroupLabelAfter {
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.checkBoxGroup input {
  width: 0;
  height: 0;
  position: absolute;
}

.checkBox {
  width: 2rem;
  height: 2rem;
  border-radius: 0.4rem;
  border: 0.1rem solid var(--color-light-text-and-details);
  position: relative;
}

.checkBox::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 0.3rem;
  background-color: var(--color-main);
  transition: all 0.2s ease-in-out;
}

.checkBoxGroup input:checked + .checkBox::before {
  transform: translate(-50%, -50%) scale(1);
}
