@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800&display=swap');

:root {
  --color-dark-text: #232323;
  --color-light-text-and-details: #757575;
  --color-background-light-elements: #e5e5e5;
  --color-background-very-light-elements: #ffffff;
  --color-main: #029d9d;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Nunito', sans-serif;
  font-weight: 500;
  font-size: 1.6rem;
}
